.aaa{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  justify-content: center;
}
body{
  background-image:url("https://plus.unsplash.com/premium_photo-1701091956254-8f24ea99a53b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: white;
}

#payment-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color:rgba(255, 255, 255, 0.275) ;
  backdrop-filter: blur(70px);
  margin: 10px;
  height: 50vb;
  border-radius: 25px;
}
.aa input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-top: 10px;
  

}

p{
  font-size: 10px;
}
p:hover{
  font-size: 20px;
}
